* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
.top-bar {
    background:#333;

}
.menu {
    background:#333;
}

body{
    background-color:skyblue;
}

h1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: solid;
    border-width: thick;
    border-radius: 8px;
<<<<<<< HEAD
    position: relative;
    color: white;
    text-shadow: 2px 2px 5px red;
    box-shadow: 5px 10px;
}
h1 {
    width: 23%;
    display: inline-block;
    margin-left: 800px;
}
h1 {
=======
>>>>>>> dev
    display: inline-block;
    font-size: 48px;
    margin-left: 800px;
}

.searchBar {
    width: 213px;
}

aside {
    border: solid #333;
    height: fit-content;
    width: fit-content;
}


nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.searchBtn {
    height: 39px;
}

nav ul li {
    margin-left: 150px;
    margin-right: 20px;
    border-bottom: 3px solid white;
    font-size: 35px;
<<<<<<< HEAD
    background-color:skyblue;
    color: white;

  
}
a:hover {
    background-color: #ddd;
    color: black;
}
=======
}

>>>>>>> dev
a {
    color: white;
    text-decoration: none;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

<<<<<<< HEAD
  aside{
    border: solid black;
    float: right;
    margin-right: 100px;
    width: 800px;
    height: 420px;
    margin-top: 80px;
    position: relative;
    padding: 50px;
    
}

article img{
   margin-top: 50px;
   width: 600px;
   margin-left: 150px;
   height:450px ;
}
=======
>>>>>>> dev

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

.footer h2 {
    font-size: 20px;
<<<<<<< HEAD
    padding-bottom: 0px;
  
  
=======
>>>>>>> dev
}
